language = "nix"
run = ["npm", "start"]
modules = ["nodejs-20"]

[packager]
language = "nodejs-npm"

[nix]
channel = "stable-22_05"

[debugger]

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
