language = "nix"
run = ["npm", "start"]
modules = ["nodejs-20"]

[packager]
language = "nodejs-npm"

[nix]
channel = "stable-22_05"

[debugger]

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm install"]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 8080
externalPort = 80

[agent]
expertMode = true
